{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Insulyser.Inc</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<div id="left-part">
    <h2>Insulyser by TheBalds</h2>
    <ul>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/home">Upload</a></li>
        <li><a href="/about">About Diabetic Retinopathy</a></li>
    </ul>
</div>

<div id="right-part">
    <div class="container">
        <h2>Contact Us</h2>
        <p>Feel free to get in touch with us for any inquiries or assistance.</p>
        <p>Email: info@thebalds.com</p>
        <p>Phone: +91 9876543210</p>
    </div>
</div>

</body>
</html>
